@{
    ViewData["Title"] = "Home Page";
}


<div class="card text-center mt-4">
    <div class="card-header">
        Welcome
    </div>
    <div class="card-body">
        <h5 class="card-title">Information</h5>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <a href="https://secure.emp.state.or.us/ocs4/index.cfm?u=F20180202A105640B54418231.37&lang=E" target="_blank" class="btn btn-primary">Your Online Claim System</a>
    </div>
    <div class="card-footer text-muted">
        &mdash;Karen Payne code sample&mdash;
    </div>
</div>